:root {
    --bgColor: #FFF7ED;
}
  
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
    box-sizing: border-box;
    font-family: Inter;
}

.header {
    width: auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.link-btns {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 25px;
    font-weight: 800;
}

.link-btns:hover {
    text-decoration: underline;
}

.right-header {
    width: 180px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: black;
}

.logo:hover {
    text-decoration: none;
}

footer {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    margin-top: -9px;
}

.footer-text {
    color: #AAAAAA;
    box-sizing: border-box;
}